
<h2>{{page_title}}</h2>
<img class="" src="/images/{{theme}}.svg" alt="{{theme}}">

<form class="form" action="/fortune/{{id}}/edit" method="post">
  <label for="name" class="form-item">
   {{question}}
    <input type="text" name="name" value="">
  </label>
 
  <input type="submit" name="" value="Submit">
</form>
